.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 10px; 
  background-color: #f00;
  transition: all 0.5s;
}
.carousel-indicators .active {
 background-color: #000;
}
.carousel-indicators{
  position: absolute;
  bottom: -40px;
  
}